
.iconsSubTextTwo
{
    font-size: 1em;
    padding-bottom: 10px;
    display:block;
    font-weight: 300;
    text-transform: none;
}


.iconsBoxContainerTwo
{
    min-height: 360px;
    background-color: #e1d9c7;
    padding: 0 0 20px;
    float: left;
    width: 49%;
}

.iconsBoxTwo
{
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}



.iconsBoxTwo img {
    height: 150px;
    width: auto;
}


.clearBoth
{
 clear:both;
}